html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

input[type="text"]:focus {
  outline: 0;
  border: none; }

input[type="text"]:active {
  outline: 0;
  border: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.row0,
.row5,
.row10,
.row12,
.row14,
.row15,
.row20,
.row25,
.row28,
.row30,
.row35,
.row40,
.row45,
.row50,
.row62 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row5 {
  margin: 0 -5px; }
  .row5 > div {
    padding: 0 5px; }

.row10 {
  margin: 0 -10px; }
  .row10 > div {
    padding: 0 10px; }

.row12 {
  margin: 0 -12px; }
  .row12 > div {
    padding: 0 12px; }

.row14 {
  margin: 0 -14px; }
  .row14 > div {
    padding: 0 14px; }

.row15 {
  margin: 0 -15px; }
  .row15 > div {
    padding: 0 15px; }

.row20 {
  margin: 0 -20px; }
  .row20 > div {
    padding: 0 20px; }

.row25 {
  margin: 0 -25px; }
  .row25 > div {
    padding: 0 25px; }

.row28 {
  margin: 0 -28.5px; }
  .row28 > div {
    padding: 0 28.5px; }

.row30 {
  margin: 0 -30px; }
  .row30 > div {
    padding: 0 30px; }

.row35 {
  margin: 0 -35px; }
  .row35 > div {
    padding: 0 35px; }

.row40 {
  margin: 0 -40px; }
  .row40 > div {
    padding: 0 40px; }

.row45 {
  margin: 0 -45px; }
  .row45 > div {
    padding: 0 45px; }

.row50 {
  margin: 0 -50px; }
  .row50 > div {
    padding: 0 50px; }

.row62 {
  margin: 0 -62.5px; }
  .row62 > div {
    padding: 0 62.5px; }

.col-50 {
  width: 50%; }

.col-60 {
  width: 60%; }

.col-65 {
  width: 65%; }

.col-70 {
  width: 70%; }

.col-40 {
  width: 40%; }

.col-35 {
  width: 35%; }

.col-33 {
  width: 33.3333333%; }

.col-30 {
  width: 30%; }

.col-25 {
  width: 25%; }

.col-20 {
  width: 20%; }

.col-16 {
  width: 16.666666%; }

body {
  position: relative; }

body.active {
  background: url("../img/cont.jpg") no-repeat top 0px center; }

body.active .wrapper {
  opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.show-320,
.show-360,
.show-375,
.show-480,
.show-570,
.show-640,
.show-767,
.show-991,
.show-1050,
.show-1199,
.show-1299 {
  display: none; }

@media (max-width: 1299px) {
  .show-1299 {
    display: block; }
  .hide-1299 {
    display: none; } }

@media (max-width: 1199px) {
  .show-1199 {
    display: block; }
  .hide-1199 {
    display: none; } }

@media (max-width: 1050px) {
  .show-1050 {
    display: block; }
  .hide-1050 {
    display: none; } }

@media (max-width: 991px) {
  .hide-991 {
    display: none; }
  .show-991 {
    display: block; } }

@media (max-width: 767px) {
  .show-767 {
    display: block; }
  .hide-767 {
    display: none; } }

@media (max-width: 640px) {
  .hide-640 {
    display: none; }
  .show-640 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 570px) {
  .show-570 {
    display: block; }
  .hide-570 {
    display: none; } }

@media (max-width: 480px) {
  .show-480 {
    display: block; }
  .hide-480 {
    display: none; } }

@media (max-width: 375px) {
  .hide-375 {
    display: none; }
  .show-375 {
    display: block; } }

@media (max-width: 360px) {
  .hide-360 {
    display: none; }
  .show-360 {
    display: block; } }

@media (max-width: 320px) {
  .hide-320 {
    display: none; }
  .show-320 {
    display: block; } }

.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.fc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.aic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.aife {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.jcfe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jcc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jcsb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.fww {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.ha {
  height: auto;
  overflow: visible; }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-weight: 400;
  font-size: 16px;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  font-family: 'Baloo Da 2', cursive;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.contain {
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media (max-width: 1280px) {
    .contain {
      max-width: 1170px; } }

.lcpadding {
  padding-left: -webkit-calc((100% - 1180px)/2);
  padding-left: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: -webkit-calc((100% - 970px)/2);
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: -webkit-calc((100% - 750px)/2);
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: -webkit-calc((100% - 600px)/2);
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: -webkit-calc((100% - 530px)/2);
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.cpadding {
  padding-left: -webkit-calc((100% - 1180px)/2);
  padding-left: calc((100% - 1180px)/2);
  padding-right: -webkit-calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .cpadding {
      padding-left: -webkit-calc((100% - 970px)/2);
      padding-left: calc((100% - 970px)/2);
      padding-right: -webkit-calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .cpadding {
      padding-left: -webkit-calc((100% - 750px)/2);
      padding-left: calc((100% - 750px)/2);
      padding-right: -webkit-calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .cpadding {
      padding-left: -webkit-calc((100% - 600px)/2);
      padding-left: calc((100% - 600px)/2);
      padding-right: -webkit-calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .cpadding {
      padding-left: -webkit-calc((100% - 530px)/2);
      padding-left: calc((100% - 530px)/2);
      padding-right: -webkit-calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .cpadding {
      padding-left: 15px;
      padding-right: 15px; } }

.rcpadding {
  padding-right: -webkit-calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: -webkit-calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: -webkit-calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: -webkit-calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: -webkit-calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
/*top menu mnu*/
.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__list > li {
    position: relative;
    cursor: pointer; }
    .menu__list > li:not(:last-child) {
      margin-right: 56px; }
    .menu__list > li > a {
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      -webkit-transition: 0.33s;
      transition: 0.33s; }
      .menu__list > li > a:hover {
        text-decoration: none;
        color: #09D4DA; }
        .menu__list > li > a:hover + .menu-arrow {
          background: url("../img/mnu-arrow2.svg") no-repeat center; }
    .menu__list > li.menu-item-has-children > a {
      margin-right: 5px; }

.sub-menu {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  display: none;
  min-width: 198px;
  padding-top: 12px; }
  .sub-menu li {
    background: #09D4DA;
    padding: 10px 20px; }
    .sub-menu li a {
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF; }
      .sub-menu li a:hover {
        text-decoration: none; }
    .sub-menu li:first-child {
      padding-top: 20px;
      -webkit-border-radius: 10px 10px 0 0;
              border-radius: 10px 10px 0 0; }
    .sub-menu li:last-child {
      padding-bottom: 20px;
      -webkit-border-radius: 0 0 10px 10px;
              border-radius: 0 0 10px 10px; }

.menu-arrow {
  width: 14px;
  height: 12px;
  background: url("../img/mnu-arrow.svg") no-repeat center;
  position: absolute;
  right: -15px;
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px); }
  .menu-arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url("../img/mnu-arrow2.svg") no-repeat center; }

.menu__list > li > a.active2 {
  color: #09D4DA; }

body.mouse .menu__list > li:hover .sub-menu {
  display: block; }

body.touch .menu-arrow {
  display: block; }

body.touch .sub-menu.open {
  display: block; }

@media (max-width: 767px) {
  .menu__list {
    display: block; }
  .sub-menu__list {
    position: static; }
  .sub-sub-menu__list {
    position: static; }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .menu-arrow {
    top: 0px;
    right: 5px; }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear; }
    .sub-menu__list.open,
    .sub-sub-menu__list.open {
      max-height: 300px; } }

/*end top menu mnu*/
div.wpforms-container-full .wpforms-form button[type=submit] {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  background: #09d4da !important;
  font-size: 18px !important;
  color: #0F4049 !important; }

div.wpforms-container-full .wpforms-form button[type=submit],
.btn {
  height: 52px;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #09d4da;
  -webkit-border-radius: 43px;
          border-radius: 43px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  color: #0F4049;
  width: auto;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  div.wpforms-container-full .wpforms-form button[type=submit]:before,
  .btn:before {
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #2DF1F6;
    height: 40px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 49px;
            border-radius: 49px;
    z-index: -1;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s; }
  div.wpforms-container-full .wpforms-form button[type=submit]:hover,
  .btn:hover {
    text-decoration: none;
    background-color: #2DF1F6;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15); }

.btn--wh {
  background: #DFEDF0;
  color: #0F4049; }

.header {
  height: 900px; }

.header {
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }

.logo-img-bl {
  display: none; }

.top {
  position: absolute;
  top: 54px;
  left: 0px;
  width: 100%;
  z-index: 12; }
  .top.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    -webkit-transition: background 0.33s;
    transition: background 0.33s;
    padding-top: 14px;
    padding-bottom: 14px; }
    .top.fixed .menu__list > li > a {
      color: #0F4049; }
    .top.fixed .menu-arrow {
      background: url("../img/mnu-arrow-bl.svg") no-repeat center; }
    .top.fixed .logo-img {
      display: none; }
    .top.fixed .logo-img-bl {
      display: block; }

.top__contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1770px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.logo {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 114px;
  width: 155.5px; }
  .logo img {
    max-width: 100%; }

.top__btns {
  margin-left: auto; }

.top__btn-2 {
  margin-left: 25px; }

.top__slider {
  height: 100%; }
  .top__slider .slick-dots {
    position: absolute;
    bottom: 50%;
    left: -webkit-calc((100% - 1740px)/2);
    left: calc((100% - 1740px)/2);
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 12; }
    @media (max-width: 1770px) {
      .top__slider .slick-dots {
        left: 15px; } }
    .top__slider .slick-dots li {
      font-size: 0;
      background: none;
      padding: 0;
      margin: 7.5px 0; }
      .top__slider .slick-dots li button {
        -webkit-box-flex: 0;
        -webkit-flex: none;
            -ms-flex: none;
                flex: none;
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
        width: 9px;
        height: 9px;
        background: #C9DFE4;
        -webkit-border-radius: 12px;
                border-radius: 12px;
        -webkit-transition: height 0.5s;
        transition: height 0.5s; }
      .top__slider .slick-dots li.slick-active button {
        height: 88px;
        background: #09D4DA; }

.top__slide {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%; }

.top__slide-content {
  margin-bottom: 277px;
  position: relative;
  z-index: 3; }

.top__slide-header {
  font-weight: 800;
  font-size: 68px;
  line-height: 1.1;
  color: white;
  margin-bottom: 43px; }

.color-green {
  color: #09d4da;
  line-height: 1.1; }

.top__slide-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: white;
  max-width: 594px;
  width: 100%;
  margin-bottom: 48px; }

.favorite-assets {
  margin-top: 0px;
  position: relative;
  background: #EEF6F7;
  min-height: 100px;
  padding: 201px 0;
  position: relative;
  z-index: 3; }

.favorite-assets-shape-top,
.favorite-assets-shape-bottom {
  width: 100%;
  position: absolute;
  overflow: hidden; }
  .favorite-assets-shape-top svg,
  .favorite-assets-shape-bottom svg {
    width: -webkit-calc(100% + 1.3px);
    width: calc(100% + 1.3px);
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.favorite-assets-shape-top {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 1px; }

.shape-white-lb {
  width: 100%;
  position: absolute;
  overflow: hidden; }
  .shape-white-lb svg {
    width: -webkit-calc(100% + 1.3px);
    width: calc(100% + 1.3px);
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.why__shape-bot {
  bottom: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  left: 0; }

.favorite-assets-shape-bottom {
  bottom: 1px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%); }

.shape {
  position: absolute;
  z-index: 4; }

.ask__shape {
  left: 0;
  bottom: 320px; }

.why__shape {
  left: 0;
  top: -120px; }

.header__shape {
  right: 0;
  bottom: -120px; }

.why {
  padding-top: 163px;
  padding-bottom: 110px;
  position: relative; }

.heading-2 {
  font-weight: 800;
  font-size: 46px;
  color: #0f4049; }

.why__heading {
  text-align: center; }

.why__items {
  margin-top: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -31px;
  margin-right: -31px; }

.why__col {
  padding-left: 31px;
  padding-right: 31px;
  width: 33.333%; }

.why__item {
  width: 100%; }

.why__content {
  margin-top: 26px; }

.why__title {
  font-weight: 600;
  font-size: 24px;
  color: #0f4049;
  margin-bottom: 15px; }

.why__text {
  font-size: 16px;
  line-height: 1.5;
  color: #0f4049; }

.prior {
  position: relative;
  height: 851px;
  background-color: #12232a;
  padding-top: 192px;
  padding-bottom: 201px;
  background: url("../img/prior-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }

.prior__shape-top {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 2; }

.prior__shape-bot {
  bottom: -2px;
  left: 0; }

.prior__content {
  max-width: 713px;
  width: 100%; }

.prior__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.1;
  color: white;
  width: 800px;
  margin-bottom: 40px; }

.prior__text {
  font-size: 16px;
  line-height: 1.3;
  color: #c9dfe4;
  margin-bottom: 60px; }

.ask {
  padding-top: 107px;
  padding-bottom: 147px;
  position: relative; }

.ask__w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.ask__l {
  width: 50%; }

.ask__txts {
  width: 440px; }

.ask__heading {
  font-weight: 800;
  font-size: 46px;
  color: #0f4049;
  margin-bottom: 15px;
  width: 100%; }

.ask__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #0f4049; }

.ask__r {
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ebf6f7));
  background: -webkit-linear-gradient(white 0%, #ebf6f7 100%);
  background: linear-gradient(white 0%, #ebf6f7 100%);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 144px 134px 102px; }

div.wpforms-container-full .wpforms-form .wpforms-field {
  padding: 0 !important; }

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  display: none !important; }

div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"],
div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"],
.ask__input {
  border: none;
  background: #dfedf0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #0f4049;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 28px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: 0.33s;
  transition: 0.33s;
  border: 2px solid #dfedf0; }
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"]::-webkit-input-placeholder,
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"]::-webkit-input-placeholder,
  .ask__input::-webkit-input-placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"]::-moz-placeholder,
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"]::-moz-placeholder,
  .ask__input::-moz-placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"]:-ms-input-placeholder,
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"]:-ms-input-placeholder,
  .ask__input:-ms-input-placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"]::placeholder,
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"]::placeholder,
  .ask__input::placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"]:hover,
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"]:hover,
  .ask__input:hover {
    background: #C9DFE4; }
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"]:focus,
  div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"]:focus,
  .ask__input:focus {
    background: #EEF6F7;
    border: 2px solid #2DF1F6; }

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error:focus {
  border: 1px solid #cc0000; }

div.wpforms-container-full .wpforms-form label.wpforms-error {
  display: none !important; }

div.wpforms-container-full .wpforms-form textarea.wpforms-field-large,
.ask__textarea {
  -webkit-transition: background-color 0.33s;
  transition: background-color 0.33s;
  border: none;
  background: #dfedf0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  height: 105px;
  font-weight: 600;
  font-size: 16px;
  color: #0f4049;
  padding: 13px 20px;
  margin-bottom: 28px;
  margin-top: 28px;
  width: 100%;
  border: 2px solid #dfedf0; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large:focus,
  .ask__textarea:focus {
    border: none; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large::-webkit-input-placeholder,
  .ask__textarea::-webkit-input-placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large::-moz-placeholder,
  .ask__textarea::-moz-placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large:-ms-input-placeholder,
  .ask__textarea:-ms-input-placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large::placeholder,
  .ask__textarea::placeholder {
    color: #0f4049; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large:hover,
  .ask__textarea:hover {
    background: #C9DFE4; }
  div.wpforms-container-full .wpforms-form textarea.wpforms-field-large:focus,
  .ask__textarea:focus {
    background: #EEF6F7;
    border: 2px solid #2DF1F6; }

.select2-container {
  border: none; }
  .select2-container--open .select2-selection--single .select2-selection__rendered {
    border: 2px solid #2DF1F6;
    border-bottom: none;
    -webkit-border-radius: 30px 30px 0 0 !important;
            border-radius: 30px 30px 0 0 !important; }
  .select2-container--open .select2-selection--single .select2-selection__arrow {
    background: url("../img/select-arrow2.svg") no-repeat right center !important; }
  .select2-container .select2-selection--single {
    border: none;
    margin-left: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 1;
    position: relative !important; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #0f4049;
      width: 100%;
      font-weight: 600;
      font-size: 15px;
      padding-left: 0;
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      align-items: center;
      height: 40px;
      background: #DFEDF0;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      padding: 0 20px;
      -webkit-transition: background-color 0.33s;
      transition: background-color 0.33s; }
      .select2-container .select2-selection--single .select2-selection__rendered:hover {
        background: #C9DFE4; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      width: 15px;
      height: 15px;
      background: url("../img/select-arrow.svg") no-repeat right center;
      position: absolute;
      right: 22px;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
          -ms-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      margin-left: 0px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .select2-container .select2-search--dropdown {
    border: none; }
    .select2-container .select2-search--dropdown .select2-search__field {
      border: none; }
  .select2-container .select2-results {
    border: none; }
  .select2-container .select2-results__option {
    background: none;
    font-weight: 400;
    font-family: 'Baloo Da 2', cursive;
    font-size: 16px;
    color: #0f4049;
    padding: 10px 20px; }

.select2-container .select2-dropdown {
  border: 2px solid #2DF1F6;
  -webkit-border-radius: 0 0 30px 30px;
          border-radius: 0 0 30px 30px;
  border-top: none;
  overflow: hidden;
  background: #EEF6F7; }

.get {
  background-color: #eaf2f5;
  padding: 188px 0 188px 0;
  background: url("../img/get-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.get__shape-top {
  position: absolute;
  top: 0;
  right: 0; }

.get__w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.get__l {
  width: 50%; }

.get__r {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.1;
  color: #0f4049;
  width: 50%; }

.shape-footer {
  width: 100%;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
  left: 0;
  top: 1px; }
  .shape-footer svg {
    width: 100%;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.footer {
  position: relative;
  background: #163241;
  padding-top: 52px;
  padding-bottom: 52px; }

.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer__logo {
  display: block; }

.footer__socials {
  margin-top: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer__socials .wp-block-image {
    margin-bottom: 0; }
    .footer__socials .wp-block-image:not(:last-child) {
      margin-right: 15px; }

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 15px; }

.footer__mnu-title {
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-bottom: 20px; }
  .footer__mnu-title p {
    font-weight: 600;
    margin-bottom: 0; }

.footer__mnu {
  width: 100%; }
  .footer__mnu li {
    margin-bottom: 20px; }
  .footer__mnu a {
    font-size: 16px;
    color: white;
    display: block; }

.footer__text {
  font-size: 14px;
  line-height: 1.3;
  color: #c9dfe4;
  margin-bottom: 21px;
  margin-top: 86px; }

.footer__term {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer__term .wp-block-buttons {
    gap: 0; }
  .footer__term .wp-block-button__link {
    height: auto;
    background: none;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: #09d4da; }
  .footer__term .wp-block-button {
    height: auto;
    background: none; }
    .footer__term .wp-block-button:not(:last-child) {
      margin-right: 25px; }
  .footer__term a {
    font-weight: 600;
    font-size: 14px;
    color: #09d4da;
    display: block; }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

body.active {
  background: url("../img/1920.jpg") no-repeat top -10px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }
