@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;
$green: #09D4DA;


@import "_reset.scss";
@import "_grid.scss";
@import "_vars.scss";

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri-regular.woff') format('woff'),
  url('../fonts/Calibri-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {    
  font-weight: 400;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}



.wrapper {
  font-family: 'Baloo Da 2', cursive;
  width: 100%;  
  margin-left: auto;
  margin-right: auto;    
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

.contain {
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media (max-width : 1280px) {
    max-width: 1170px;
  }
}


.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}


/*end modal*/

/*top menu mnu*/

.menu__list {
  display: flex;
  > li {
    position: relative;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 56px;
    }
      >  a {
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;      
      transition: 0.33s;
      &:hover {
        text-decoration: none;
        color: $green;
          + .menu-arrow {
          background: url("../img/mnu-arrow2.svg") $nr center;  
        }
      }
    }
    &.menu-item-has-children {
      > a {
        margin-right: 5px;
      }
    }
  } 
}





.sub-menu {
  position: absolute;
  top: 15px;  
  left: 0;  
  display: block;
  display: none;
  min-width: 198px;
  padding-top: 12px;
  li {
    background: #09D4DA;
    padding: 10px 20px;
    a {
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      &:hover {
        text-decoration: none;

      }
    }  
     &:first-child {
       padding-top: 20px;
       border-radius: 10px 10px 0 0;
     }
     &:last-child {
       padding-bottom: 20px;
       border-radius: 0 0 10px 10px;
     } 
  }

}




.menu-arrow {  
  width: 14px;
  height: 12px;
  background: url("../img/mnu-arrow.svg") $nr center;  
  position: absolute;
  right: -15px;
  top: calc(50% - 6px);  
  &.active {
    transform: rotate(180deg);
    background: url("../img/mnu-arrow2.svg") $nr center;  
  }
  .menu__list-item {
    &._parent {
    }
  }

}

.menu__list > li > a.active2 {
  color: $green;
}

body {
  &.mouse {
    .menu__list {      
      > li:hover {
        .sub-menu {
          display: block;
        }    
      }
    }
    .sub-menu {
      > li {      
      }
    }
  }
  &.touch {
    .menu-arrow {
      display: block;
    }
    .sub-menu.open {
      display: block;
    }
  }
}

@media (max-width : 767px) {
  .menu__list {
    display: block;
  }
  .sub-menu__list {
    position: static;
  }
  .sub-sub-menu__list {
    position: static;
  }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;  
  }
  .menu-arrow {
    top: 0px;
    right: 5px;
  }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.4s linear;          
    &.open {    
      max-height: 300px;
    }

  }


}



/*end top menu mnu*/
div.wpforms-container-full .wpforms-form button[type=submit] {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  background: rgb(9, 212, 218) !important;
  font-size: 18px !important;  
  color: #0F4049 !important;
}
div.wpforms-container-full .wpforms-form button[type=submit],
.btn {  
  height: 52px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgb(9, 212, 218);
  border-radius: 43px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
  color: #0F4049;
  width: auto;
  position: relative;
  transition: 0.5s; 
     &:before {
      content: "";
      display: block;
      opacity: 0;
      visibility: hidden;
      background: #2DF1F6;
      height: 40px;
      height: 20px;
      transform: translate(-50%, -50%);      
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 49px;  
      z-index: -1;      
      transition: width 0.5s, height 0.5s;
            
    }   
  &:hover {
    text-decoration: none;
    background-color: #2DF1F6;    
    transform: scale(1.15)
  }
}

.btn--wh {
  background: #DFEDF0;
  color: #0F4049;
}


.header {
  height: 900px;
}


.header { background: url("../img/header-bg.jpg") no-repeat center;
 background-size: cover; position: relative;  background-attachment: fixed;
  &:after {
  }
}



.logo-img-bl {
  display: none;
}

.top {    
  position: absolute;
  top: 54px;
  left: 0px;
  width: 100%;  
  z-index: 12;    
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    transition: background 0.33s;
    padding-top: 14px;
    padding-bottom: 14px;
    .menu__list > li > a {
      color: #0F4049;
    }
    .menu-arrow {
      background: url("../img/mnu-arrow-bl.svg") no-repeat center;
    }
    .logo-img {
      display: none;
    }
    .logo-img-bl {
      display: block;
    }
  }
}

.top__contain {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1770px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-flex;
  margin-right: 114px;
  width: 155.5px;
  img {
    max-width: 100%;
  }
}

.top__mnu-col {
}

.top__btns {
  margin-left: auto;
}

.top__btn-2 {
  margin-left: 25px;
}

.top__slider {
  height: 100%;
  .slick-list {    
  }
  .slick-dots {
    position: absolute;
    bottom: 50%;
    left: calc((100% - 1740px)/2);
    transform: translateY(50%);    
    display: flex;      
    flex-direction: column;      
    z-index: 12;
    @media (max-width : 1770px) {
      left: 15px;
    }
    li {
      font-size: 0;
      background: none;
      padding: 0;
      margin: 7.5px 0;            
      button {
        flex: none;
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
        width: 9px;
        height: 9px;
        background: #C9DFE4;
        border-radius: 12px;
        transition: height 0.5s;
      }
      &.slick-active {
        button {
          height: 88px;
          background: #09D4DA;
        }
      }
    }
  }
}

.top__slide {  
  display: flex $i;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.top__slide-content {
  margin-bottom: 277px;
  position: relative;
  z-index: 3;
}

.top__slide-header {
  font-weight: 800;
  font-size: 68px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  margin-bottom: 43px;
}

.color-green {
  color: rgb(9, 212, 218);
  line-height: 1.1;
}

.top__slide-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  max-width: 594px;
  width: 100%;
  margin-bottom: 48px;
}

.top__slide-btn {
}

.favorite-assets {
  margin-top: 0px;
  position: relative;
  background: #EEF6F7;
  min-height: 100px;
  padding: 201px 0;
  position: relative;
  z-index: 3;
}

.favorite-assets-shape-top,
.favorite-assets-shape-bottom {
  width: 100%;
  position: absolute;
  overflow: hidden;
  svg {
    width: calc(100% + 1.3px);      
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.favorite-assets-shape-top {
  transform: translateY(-100%);
  top: 1px;
}

.shape-white-lb {
  width: 100%;
  position: absolute;
  overflow: hidden;
  svg {
    width: calc(100% + 1.3px);      
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}



.why__shape-bot {
  bottom: 0;
  transform: translateY(100%);
  left: 0;
}

.favorite-assets-shape-bottom {
  bottom: 1px;
  transform: translateY(100%);
}

.shape {
  position: absolute;  
  z-index: 4;
}

.ask__shape {
  left: 0;
  bottom: 320px;
}

.why__shape {
  left: 0;
  top: -120px;  
}
.header__shape {
right: 0;
  bottom: -120px;
  }


.why {
  padding-top: 163px;
  padding-bottom: 110px;
  position: relative;  
}

.heading-2 {
  font-weight: 800;
  font-size: 46px;
  color: rgb(15, 64, 73);
}

.why__heading {  
  text-align: center;
}

.why__items {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  margin-left: -31px;
  margin-right: -31px;
}

.why__col {
  padding-left: 31px;
  padding-right: 31px;
  width: 33.333%;
}

.why__item {
  width: 100%;
}

.why__img-w {
}

.why__content {
  margin-top: 26px;
}

.why__title {
  font-weight: 600;
  font-size: 24px;
  color: rgb(15, 64, 73);
  margin-bottom: 15px;
}

.why__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(15, 64, 73);
}


.why {
  
}

.prior {  
  position: relative;
  height: 851px;
  background-color: rgb(18, 35, 42);
  padding-top: 192px;
  padding-bottom: 201px;
  background: url("../img/prior-bg.png") $nr center;  
          background-size: cover;
          background-attachment: fixed;
}

.prior__shape-top {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 2;
}

.prior__shape-bot {
  bottom: -2px;
  left: 0;
}

.contain {
}

.prior__content {
  max-width: 713px;
  width: 100%;
}

.prior__title {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  width: 800px;
  margin-bottom: 40px;
}

.prior__text {
  font-size: 16px;
  line-height: 1.3;
  color: rgb(201, 223, 228);
  margin-bottom: 60px;
}

.btn.prior__btn {
}

.ask {
  padding-top: 107px;
  padding-bottom: 147px;
  position: relative;
}

.ask__w {
  display: flex;
}

.ask__l {
  width: 50%;
}

.ask__txts {
  width: 440px;
}

.ask__heading {
  font-weight: 800;
  font-size: 46px;
  color: rgb(15, 64, 73);
  margin-bottom: 15px;
  width: 100%;
}

.ask__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: rgb(15, 64, 73);
}

.ask__r {
  width: 50%;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(235, 246, 247) 100%);
  border-radius: 30px;
  padding: 144px 134px 102px;
}

.ask__form {
}

div.wpforms-container-full .wpforms-form .wpforms-field {
  padding: 0 !important;
  

}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  display: none !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"],
div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"],
.ask__input {
  border: none;
  background: rgb(223, 237, 240);
  border-radius: 30px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(15, 64, 73);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 28px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;  
  transition: 0.33s;
  border: 2px solid rgb(223, 237, 240);
  &::placeholder {
    color: rgb(15, 64, 73);
  }
  &:hover {
    background: #C9DFE4;
  }
    &:focus {
    background: #EEF6F7;
    border: 2px solid #2DF1F6;
  }
}

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error {
  &:focus {
    border: 1px solid #cc0000;
  }
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  display: none !important;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-large,
.ask__textarea {
  transition: background-color 0.33s;
  border: none;
  background: rgb(223, 237, 240);
  border-radius: 30px;
  height: 105px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(15, 64, 73);
  padding: 13px 20px;
  margin-bottom: 28px;
  margin-top: 28px;
  width: 100%; 
  border: 2px solid rgb(223, 237, 240); 
  &:focus {
    border: none;
  }
  &::placeholder {
    color: rgb(15, 64, 73);
  }
  &:hover {
    background: #C9DFE4;
  }
  &:focus {
    background: #EEF6F7;
    border: 2px solid #2DF1F6;
  }
}


.select2-container { 
  border: none;   
  &--open {
    .select2-selection--single {
           .select2-selection__rendered {
        border: 2px solid #2DF1F6;
        border-bottom: none;
        border-radius: 30px 30px 0 0 !important;
      }
      .select2-selection__arrow {
        background: url("../img/select-arrow2.svg") $nr right center !important;
      }       
    }
    }
  .select2-selection--single {    
    border: none;
    margin-left: 5px;
    display: flex;        
    align-items: flex-end;
    line-height: 1;
    position: relative !important;        
    .select2-selection__rendered {
      color: #0f4049;      
      width: 100%;
      font-weight: 600;
      font-size: 15px;
      padding-left: 0;
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
          display: flex;
          align-items: center;
                  align-items: center;
          height: 40px;
background: #DFEDF0;
border-radius: 30px;
padding: 0 20px;
transition: background-color 0.33s;
  &:hover {
    background: #C9DFE4;
  }
    }
    .select2-selection__arrow {
      width: 15px;
      height: 15px;
      background: url("../img/select-arrow.svg") $nr right center;
      position: absolute;
      right: 22px;
      top: 50%;
      transform: translate(0%, -50%);
      margin-left: 0px;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .select2-search--dropdown {
    border: none;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;    
  }
  .select2-results__option {
      background: none;
  font-weight: 400;
  font-family: 'Baloo Da 2', cursive;
    font-size: 16px;
    color: #0f4049;
    padding: 10px 20px;
  }
}  



//выпадающая часть
.select2-container .select2-dropdown {
  border: 2px solid #2DF1F6;
  border-radius: 0 0 30px 30px;
  border-top: none;
  overflow: hidden;
  background: #EEF6F7;
}

.select2-container .select2-results__option {

}


.get {
  background-color: rgb(234, 242, 245);
  padding: 188px 0 188px 0;  
  background: url("../img/get-bg.png") $nr center;  
          background-size: cover;
          background-attachment: fixed;
          position: relative;
}

.get__shape-top {
  position: absolute;
  top: 0;
  right: 0;
}

.get__w {
  display: flex;
}

.get__l {
  width: 50%;
}

.get__logo {
}

.get__logo-img {
}

.get__r {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.1;
  color: rgb(15, 64, 73);
  width: 50%;
}

.shape-footer {  
  width: 100%;
  transform: translate(0, -100%);
  transform: translateY(-100%);
  position: absolute;
  left: 0;
  top: 1px;
  svg {
    width: 100%;
    display: block;
    position: relative;
    left: 50%;    
    transform: translateX(-50%);
  }
}

.footer {
  position: relative;
  background: rgb(22, 50, 65);
  padding-top: 52px;
  padding-bottom: 52px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__col-1 {
  flex: 0 0 auto;
}

.footer__logo {
  display: block;
}

.footer__socials {
  margin-top: 44px;
  display: flex;
  .wp-block-image {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.footer__col-2 {
}

.footer__mnu-title {
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  p {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.footer__mnu {
  width: 100%;
  li {
  margin-bottom: 20px;
}

a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: block;
}
}



.footer__col-3 {
}

.footer__col-4 {
}

.footer__col-5 {
}

.footer__text {
  font-size: 14px;
  line-height: 1.3;
  color: rgb(201, 223, 228);
  margin-bottom: 21px;
  margin-top: 86px;
}

.footer__term {
  display: flex;
  .wp-block-buttons {
    gap: 0;
  }
  .wp-block-button__link {
    height: auto;
    background: none;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: #09d4da;
  }
  .wp-block-button {
    height: auto;
    background: none; 
      &:not(:last-child) {
    margin-right: 25px;
  }    
  }
  a {
  font-weight: 600;
  font-size: 14px;
  color: rgb(9, 212, 218);
  display: block;

}
}



@import "_media.scss";
@import "_after-styless";